<p>Welcome to Rams Learning Management.</p>

 
 <ng-container *ngFor ="let cd of courseData">
   <mat-card class="example-card"> 
    <img mat-card-image [src]="cd.thumbnailURL" alt= {{cd.title}} width="150" height="150">
    <mat-card-content>
      <p>
        {{cd.title}}  
      </p>
      <br>
      <p>
          Rs.{{cd.price}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Start Learning</button>
     
    </mat-card-actions>
  </mat-card>
</ng-container>
  
 



   
